<div>
    <div class="container content">
        <div class="row">
            <div class="bg-light">
                <h1 class="text-center">
                    Wish List
                </h1>
            </div>
            <app-forms-destination-travel (onItemAdded)="add($event)"></app-forms-destination-travel>  
        </div>


    </div>
    
    <hr class="mb-5">

    <div class="row row-flex">
        <app-destino-viajes 
           *ngFor="let d of all; let i=index" 
           [destinations]="d"
           (clicked)="selected($event)"
           [position]="i + 1"
           appEspiame
           >
        </app-destino-viajes>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <h5>Activity</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
    
</div>